body{
    margin: 0%;
    background-color: #ffffff;
}

.bar{
    background-color: #083656;
    display: flex;
    justify-content:space-between;
    color:white;
    align-items: center;
}

.topnav {
    overflow: hidden;
    background-color: #083656;
    font-family: 'Dosis', sans-serif;
    font-family: 'Inter', sans-serif;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.logo{
    padding: 5px;
}

p{
    font-family: 'Inter', sans-serif;
}


.top{
    margin-left: 100px;
    margin: 50px 100px 0px 100px;
    width: 80%;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: justify;
    display: flex;
    background-color: #EEEEEE;
    padding: 50px;
    align-items: center;
}

#me{
    font-weight: bolder;
    font-size: 35px;
    margin: 50px 50px 70px 50px;
    border-bottom: solid;
    border-color: #EDA12F;
    border-width: 6px;
    width: fit-content;
    padding-bottom: 20px;
}

#intro{
    padding-left: 50px;
    font-size: 16px;
}

.service{
    margin: 106px 100px 0px 100px;
    display: flex;
    justify-content: center;
}

.software{
    background-color: white;
    width: fit-content;
    text-align: justify;
    padding: 30px;
    margin-bottom: 50px;
    margin-right: 80px;
    background-color: #EEEEEE;
}

#service1{
    font-weight: bold;
    margin-bottom: 10px;
}


.application{
    background-color: white;
    width: fit-content;
    text-align: justify;
    padding: 30px;
    margin-bottom: 50px;
    margin-right: 80px;
    background-color: #EEEEEE;
}

#service2{
    font-weight: bold;
    margin-bottom: 10px;
}

.network{
    background-color: white;
    width: fit-content;
    text-align: justify;
    padding: 30px;
    margin-bottom: 50px;
    background-color: #EEEEEE;
}

#service3{
    font-weight: bold;
    margin-bottom: 10px;
}

.footer {
    overflow: hidden;
    background-color: #083656;
    font-family: 'Dosis', sans-serif;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}

.find{
    font-weight: bolder;
    font-size: 25px;
}

.media{
    display: flex;
    justify-content: center;
}

.fb{
    padding-right: 40px;
    border-right: solid;
    border-color: white;
}

.ig{
    padding:0px 40px 0px 40px;
    border-right: solid;
    border-color: white;
}

.wa{
    padding-left: 40px;
}

@media screen and (max-width: 960px) {
    .topnav a {
        padding: 12px 8px;
    }
    
    .aboutme {
        flex-direction: column;
        margin-right: 0;
    }

    .top {
        width: 80%;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        padding: 20px;
        margin-left: 20px;
    }

    #intro{
        padding: 0px;
    }

    .img{
        width: 80%;
    }

    .service {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .software{
        width: 80%;
        text-align: left;
    }

    .application{
        width: 80%;
        text-align: left;

    }
}