body{
    margin: 0%;
    background-color: #ffffff;
}

.menu{
    background-color: #083656;
    font-family: 'Dosis', sans-serif;
    font-family: 'Inter', sans-serif;
}


.nav-item:hover { 
    background-color: #000000;
}

.logo{
    padding: 5px;
}

.collapse{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 30px;
}

p{
    font-family: 'Inter', sans-serif;
}


.top{
    margin: auto;
    width: 80%;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: justify;
    display: flex;
    background-color: #EEEEEE;
    padding: 50px;
    align-items: center;
}

#me{
    font-weight: bolder;
    font-size: 35px;
    margin: 50px 50px 70px 50px;
    border-bottom: solid;
    border-color: #EDA12F;
    border-width: 6px;
    width: fit-content;
    padding-bottom: 20px;
}

#intro{
    padding-left: 50px;
    font-size: 16px;
}

.service{
    margin: 106px 100px 0px 100px;
    display: flex;
    justify-content: center;
}

.software{
    background-color: white;
    width: fit-content;
    text-align: justify;
    padding: 30px;
    margin-bottom: 50px;
    margin-right: 80px;
    background-color: #EEEEEE;
}

#service1{
    font-weight: bold;
    margin-bottom: 10px;
}


.application{
    background-color: white;
    width: fit-content;
    text-align: justify;
    padding: 30px;
    margin-bottom: 50px;
    margin-right: 80px;
    background-color: #EEEEEE;
}

#service2{
    font-weight: bold;
    margin-bottom: 10px;
}

.network{
    background-color: white;
    width: fit-content;
    text-align: justify;
    padding: 30px;
    margin-bottom: 50px;
    background-color: #EEEEEE;
}

#service3{
    font-weight: bold;
    margin-bottom: 10px;
}

.footer {
    overflow: hidden;
    background-color: #083656;
    font-family: 'Dosis', sans-serif;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}

.find{
    font-weight: bolder;
    font-size: 20px;
    padding-top: 10px;
}

.media{
    display: flex;
    justify-content: center;
}

.fb{
    padding-right: 40px;
    border-right: solid;
    border-color: white;
}

.ig{
    padding:0px 40px 0px 40px;
    border-right: solid;
    border-color: white;
}

.wa{
    padding-left: 40px;
}

@media screen and (max-width: 960px) {
    
    .aboutme {
        flex-direction: column;
        margin-right: 0;
    }

    .top {
        width: 80%;
        align-items: center;
        flex-direction: column;
        margin: auto;
        padding: 20px;
    }

    #intro{
        padding: 0px;
    }

    .img{
        width: 80%;
    }

    .service {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .software , .application , .network{
        width: 80%;
        text-align: left;
        margin: auto;
        margin-bottom: 50px;
    }

}